disableGuessImports = true
modules = ["python-3.11:v16-20231229-5b1e996"]

hidden = [".pythonlibs"]
run = "python main.py"
entrypoint = "main.py"

[nix]
channel = "stable-23_05"

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"

[unitTest]
language = "python3"

[env]
PYTHONPATH = "$REPL_HOME/.pythonlibs/lib/python3.11/site-packages:$PYTHONPATH"
